src/main/app/bbvaintegration.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd">
    <http:listener-config name="HTTP_Listener_Configuration" host="localhost" port="5000" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration" protocol="HTTPS" host="apis.bbva.com" port="443" doc:name="HTTP Request Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration1" host="localhost" port="5001" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration1" protocol="HTTPS" host="apis.bbva.com" port="443" doc:name="HTTP Request Configuration"/>
    <http:listener-config name="HTTP_Listener_Configuration2" host="localhost" port="5002" doc:name="HTTP Listener Configuration"/>
    <http:request-config name="HTTP_Request_Configuration2" protocol="HTTPS" host="apis.bbva.com" port="443" doc:name="HTTP Request Configuration"/>
    <flow name="bbvaintegrationFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <logger message="#[payload]" level="INFO" doc:name="Logger"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/accounts-sbx/v1/me/accounts/ES0182002000000000500000000332067033XXXXXXXXX/transactions" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:header headerName="Authorization" value="jwt eyJ6aXAiOiJERUYiLCJlbmMiOiJBMTI4R0NNIiwiYWxnIjoiUlNBLU9BRVAifQ.awguXgpUSjckYK2H85Cxf9mT2IF6-ZDL5MixDjdxx3ebMefGWvsX8Ab8QuXAS6YWlvT16Buss2NNw0mFfjGfUXAZLvRuSbqFhufGYqKaETNPy9nt9rY8ZMVOPLPjSI9wTu0k9h3JcP5NQbZ-3cLHuoMcOP9OC-_caWzclEJWap4oXCLxE35QMkfu2sjM-v6n9BCZNCkH0dnexCtvCy7H15YQGCmmCD6fquzkqmi05Nr157dCSAW9IJjlOBt5YMnvtXaHtmfyVhciMilZ7AVmkFST5fzHWcs3kioepFWJ86deq_W7Q1RuY1L7T_VRxdUGQjTohvzvKfMziPdA5Rb8WQ.TFIkPTwRpUpsC2h2.4ZDGE8q_0or6Xm4Fyj8ohfG9qaApHC1p9Lj29Y0uwShZq4HcWAoWXLaP8zTEYDn1hJAaM6IM-FxrBaneGVeLFj2UQXq1Xp8mVI7TRXBxHK3uhiTqexgomKlUBAHMoeQ-N-Ow0gUgoTqUB8HNHIZr4bzGr449AflvXLZAYlF8RGKq8viQR22AkpZ4kmK19_cmgyeh0I0AVHIy4ld0dN1JQm9g3zpkMXpiOBfqw3E9_jB_hmUAVlHB9pxBj2o941NhQDTAL1qVe-ITK-yvK5XET7m8bi5UHDE9iCvQvTzsyuPm6PP9xenK5_CN0Apr38z_.wekHZice6rtZ5rrMkh2_-Q"/>
                <http:header headerName="Accept" value="application/json"/>
            </http:request-builder>
        </http:request>
        <logger message="#[message]" level="INFO" doc:name="Logger"/>
        <json:json-to-object-transformer returnClass="java.util.HashMap" doc:name="JSON to Object"/>
        <logger message="#[payload.data.accountTransactions]" level="INFO" doc:name="Logger"/>
    </flow>
    <flow name="bbvaintegrationFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/" doc:name="HTTP"/>
        <http:request config-ref="HTTP_Request_Configuration1" path="/accounts-sbx/v1/me/accounts" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:header headerName="Authorization" value="jwt eyJ6aXAiOiJERUYiLCJlbmMiOiJBMTI4R0NNIiwiYWxnIjoiUlNBLU9BRVAifQ.awguXgpUSjckYK2H85Cxf9mT2IF6-ZDL5MixDjdxx3ebMefGWvsX8Ab8QuXAS6YWlvT16Buss2NNw0mFfjGfUXAZLvRuSbqFhufGYqKaETNPy9nt9rY8ZMVOPLPjSI9wTu0k9h3JcP5NQbZ-3cLHuoMcOP9OC-_caWzclEJWap4oXCLxE35QMkfu2sjM-v6n9BCZNCkH0dnexCtvCy7H15YQGCmmCD6fquzkqmi05Nr157dCSAW9IJjlOBt5YMnvtXaHtmfyVhciMilZ7AVmkFST5fzHWcs3kioepFWJ86deq_W7Q1RuY1L7T_VRxdUGQjTohvzvKfMziPdA5Rb8WQ.TFIkPTwRpUpsC2h2.4ZDGE8q_0or6Xm4Fyj8ohfG9qaApHC1p9Lj29Y0uwShZq4HcWAoWXLaP8zTEYDn1hJAaM6IM-FxrBaneGVeLFj2UQXq1Xp8mVI7TRXBxHK3uhiTqexgomKlUBAHMoeQ-N-Ow0gUgoTqUB8HNHIZr4bzGr449AflvXLZAYlF8RGKq8viQR22AkpZ4kmK19_cmgyeh0I0AVHIy4ld0dN1JQm9g3zpkMXpiOBfqw3E9_jB_hmUAVlHB9pxBj2o941NhQDTAL1qVe-ITK-yvK5XET7m8bi5UHDE9iCvQvTzsyuPm6PP9xenK5_CN0Apr38z_.wekHZice6rtZ5rrMkh2_-Q"/>
                <http:header headerName="Accept" value="application/json"/>
            </http:request-builder>
        </http:request>
    </flow>
    <flow name="bbvaintegrationFlow2">
        <http:listener config-ref="HTTP_Listener_Configuration2" path="/" doc:name="HTTP"/>
        <custom-transformer class="bbvaintegration.SplitDates" doc:name="Java"/>
        <http:request config-ref="HTTP_Request_Configuration2" path="/accounts-sbx/v1/me/accounts/ES0182002000000000500000000332067033XXXXXXXXX/transactions?dateFrom=#[sessionVars.date_from]&amp;dateTo=#[sessionVars.date_to]" method="GET" doc:name="HTTP">
            <http:request-builder>
                <http:header headerName="Authorization" value="jwt eyJ6aXAiOiJERUYiLCJlbmMiOiJBMTI4R0NNIiwiYWxnIjoiUlNBLU9BRVAifQ.awguXgpUSjckYK2H85Cxf9mT2IF6-ZDL5MixDjdxx3ebMefGWvsX8Ab8QuXAS6YWlvT16Buss2NNw0mFfjGfUXAZLvRuSbqFhufGYqKaETNPy9nt9rY8ZMVOPLPjSI9wTu0k9h3JcP5NQbZ-3cLHuoMcOP9OC-_caWzclEJWap4oXCLxE35QMkfu2sjM-v6n9BCZNCkH0dnexCtvCy7H15YQGCmmCD6fquzkqmi05Nr157dCSAW9IJjlOBt5YMnvtXaHtmfyVhciMilZ7AVmkFST5fzHWcs3kioepFWJ86deq_W7Q1RuY1L7T_VRxdUGQjTohvzvKfMziPdA5Rb8WQ.TFIkPTwRpUpsC2h2.4ZDGE8q_0or6Xm4Fyj8ohfG9qaApHC1p9Lj29Y0uwShZq4HcWAoWXLaP8zTEYDn1hJAaM6IM-FxrBaneGVeLFj2UQXq1Xp8mVI7TRXBxHK3uhiTqexgomKlUBAHMoeQ-N-Ow0gUgoTqUB8HNHIZr4bzGr449AflvXLZAYlF8RGKq8viQR22AkpZ4kmK19_cmgyeh0I0AVHIy4ld0dN1JQm9g3zpkMXpiOBfqw3E9_jB_hmUAVlHB9pxBj2o941NhQDTAL1qVe-ITK-yvK5XET7m8bi5UHDE9iCvQvTzsyuPm6PP9xenK5_CN0Apr38z_.wekHZice6rtZ5rrMkh2_-Q"/>
                <http:header headerName="Accept" value="application/json"/>
            </http:request-builder>
        </http:request>
    </flow>
</mule>
